*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


img{
    max-width: 100%;
}
.topsec{
    padding: 20px 0px;
    background: #fffbf2;
    background-image: url('../images/bg/bgtop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.topsec .logoimg{
    position: absolute;
    max-width: 300px;
    left: 25px;
    top: 20px;
}
.topsec .main-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.topsec .logo{
    max-width: 500px;
}
.topsec  .tally-logo{
    max-width: 300px;
}
.topsec  h4{
    margin: 5px auto 0px auto;
}
.topsec  .content-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    width: 100%;
}
.topsec  .content-box h1{
    color: #3069b1;
}
.topsec  .content-box h1 span{
    font-size: 50px;
    font-weight: bold;
    color: #fcb415;
}
.buynow {
    padding: 8px 25px;
    background: #fcb415;
    color: #fff;
    border-radius: 10px;
    margin: 25px auto;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
}
.topsec  h3{
    margin: 10px auto 5px auto ;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    animation: clrchange 0.6s infinite linear;
}
@keyframes clrchange {
    0%{
        color: #fcb415;
        transform: scale(1);
    }
    50%{
        color: #000;
        transform: scale(1.2);

    }
    100%{
        color: #fcb415;
        transform: scale(1);

    }
}
.product-sec {
    padding: 40px 0px;
   text-align: center;
}
.product-sec h2{
    font-size: 46px;
}
.product-sec .product{
 box-shadow: 1px 1px 6px #0005;
 padding:30px 20px;
 margin: 25px auto;
 width: 96%;

}
.product-sec .product .logo h4{
    font-size: 20px;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    color: #fff;

}
.product-sec .product .features{
    color: #ff7a5e;
    margin: 15px auto;
    font-weight: 600;
    width: fit-content;
    padding-bottom: 10px;
    position: relative;
}
.product-sec .product .features:before{
    position: absolute;
    height: 2px;
    content: '';
    width: 50%;
    background: #ff7a5e;
    top: 100%;
    left: 25%;
}

.product-sec .product  ul{
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.product-sec .product  ul li{
    display: flex;
    width: fit-content;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.product-sec .product  ul li .icon{
    margin-right: 5px;
    max-width: 24px;
    min-width: 24px;
}
.product-sec .product  ul li span{
    font-weight: 500;
    font-size: 18px;
    color: #000;
}
.product-sec .product  ul li{
    color: #c61cac;
    font-weight: 500;
    font-size: 18px;
}
.product-sec .product .price{
    font-size: 36px;
    margin: 10px auto 20px;
    font-weight: 600;
    color: #3069b1;
}
.silver{
    background: silver;
}
.gold{
    background: gold;
}

section.benafits{
    padding: 40px 0px;
    background: #eceff7;
}
.testimonials .greview{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.testimonials {
    padding: 40px 0px;
    background: #eceff7;
}
.testimonials .greview .img{
max-width: 200px;
}
.testimonials .greview .rating{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.testimonials .greview .rating .rate{
font-size: 50px;
font-weight: 700;
color: #000;
transition: all 0.5s;
animation: rotate 0.5s linear infinite;

}
@keyframes rotate {
    0%,100%{
        transform: scale(1);
     }
    50%{
       transform: scale(1.1);
    }
}
.testimonials .greview .rating  .people{
font-weight: 600;
color: #ff7a5e;
}
.testimonials .testibox {
    padding: 15px;
}
.testimonials .testibox .icon{
    min-width: 60px;
    margin-right: 10px;
    max-width: 65px;
}
.testimonials .testibox .top .content{
padding: 15px;
display: flex;
font-size: 16px;
font-weight: 500;
}

.testimonials .testibox  .bottom .user{
display: flex;
justify-content: center;
align-items: center;
}
.testimonials .testibox  .bottom .user .img{
    max-width: 50px;
    margin-right: 10px;

}
.testimonials .btns{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.testimonials .btns a{
    margin: 10px;
    padding: 8px 15px;
    text-decoration: none;
    background: #3069b1;
    color: #fff;
    border-radius: 5px;
}
.testimonials h2 img{
max-width: 60px;
}
.testimonials h2{
    margin-bottom: 25px;
}
.testimonials  .testi{
margin: 10px auto;
}

section.faq{
    padding: 40px 0px;
}
.faqbox{
    box-shadow: 1px 1px 6px #0006;
    margin: 25px auto;
    border-radius: 0 10px 0 10px;
}
.faqbox .faq-head{
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s;
}
.faqbox .faq-head .icon{
    margin-left: 10px;
    position: relative;
    display: flex;
    height: 100%;
    min-width: 30px;
    min-height: 30px;
}
.faqbox.active .faq-head{
color: #3069b1;
position: relative;
z-index: 1;
}
.faqbox.active .faq-head{
    border-bottom: 1px solid #3069b1;
}
.faqbox .faq-head .icon:before{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "+";
    inset: 0;
    font-size: 24px;
    z-index: 0;
}

.faqbox.active .faq-head .icon:before{
    content: "-";
}
.faqbox .faq-content{
font-weight: 500;
border-radius: 5px;
max-height: 0;
overflow: hidden;
transition: all 0.5s;
}
.faqbox.active .faq-content{
    max-height: 700px;
    padding: 15px;
}
footer{
    background: #3069b1;
    color: #fff;
    padding: 15px;
}
footer p{
    margin-bottom: 0;
}
footer a{
    color: #fff;
    text-decoration: none;

}
footer a:hover{
    text-decoration: underline;
}

@media (max-width: 500px) {
    .topsec .logoimg{
        position: relative;
        display: block;
        margin: auto;
        left: 0;
    }
}